@model IEnumerable<WebAppMVC.Models.Course>

@{
    ViewData["Title"] = "Daftar Kursus";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Add" class="btn btn-primary">Tambah Kursus Baru</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault()!.Name)</th>
            <th>Peserta</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@item.Participant</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detail</a>
                    <a asp-action="Manage" asp-route-id="@item.Id">Manage</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Hapus</a>
                </td>
            </tr>
        }
    </tbody>
</table>